.mask-hover {
	width: 100%;
	padding: 10px 0;
}

.portfolio-filter {
	padding-left: 0;

}

.portfolio-filter li {
	list-style: none;
	display: inline-block;
	padding: 5px 18px;
}

.portfolio-filter li > a {
	text-decoration: none;
	font-size: 14px;
	font-family: 'Arial', sans-serif;
	color: black;
}

#portfolio li:hover {
	background-color: #81e4ed;
}

.portfolio-item {
	padding: 0px 5px;
}


ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: #81e4ed;
    color: black;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

.pagination .glyphicon {
	
}