@font-face {
	font-family:  'Lato-Bold';
	src: url('../fonts/Lato-Bold.eot');
	src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Bold.svg') format('svg'),
		url('../fonts/Lato-Bold.ttf') format('truetype'),
		url('../fonts/Lato-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:  'Lato-Regular';
	src: url('../fonts/Lato-Regular.eot');
	src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Regular.svg') format('svg'),
		url('../fonts/Lato-Regular.ttf') format('truetype'),
		url('../fonts/Lato-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
  color: #000;
  font-family: 'Arial', sans-serif;
}
hr {
	margin-bottom: 10px;
}

/** HEADER **/
#header-nav {
  background-color: #e8ebf1;
  border-radius: 0;
  border: 0;
  padding: 15px 0;
  margin-bottom: 0px;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { 
  font-size: 2em;
  margin-top: -20px;
  margin-bottom: 0;
}

span.lato-bold-black {
	font-family: 'Lato-Bold';
	color: #000000;
}

span.lato-regular-blue {
	font-family: 'Lato-Regular';
	color: #2aacc8;
}

#nav-list > li > a {
	color: black;
}

#nav-list > li:hover {
	background: #ffffff;
	border-top: 5px solid #2aacc8;
}

.dropdown-menu li:hover a{
	color: #2aacc8;
	background: #fff;
}

.dropdown:hover .dropdown-toggle {
	background: #fff;
}

#nav-list li:hover > a{
	color: #2aacc8;
}
#nav-list li:hover > a > span{
	color: #000;
}

.dropdown .dropdown-menu {
	display: none;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.dropdown-menu {
	border: none;
	border-bottom: 5px solid #2aacc8;
}

/* END HEADER */

/* SLIDESHOW */

#carousel-show {
	background: #81e4ed;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
      padding: 20px 0px 40px 0px;
  }

.carousel-indicators {
	bottom: 0px;
}

.carousel-indicators li, .carousel-indicators .active {
	height: 12px;
	width: 12px;
	margin: 0px 10px;
}

.carousel-caption-text {
    left: 0;
    text-align: left;
    position: absolute;
    top: 10%;
    bottom: 20%;
    padding-left: 5%;
    width: 40%;

}
.carousel-caption h1 {
	font-family: 'Lato-Bold'; 
	font-size: 4em;
}

.carousel-caption-img {
	bottom: 10%;
}

/* END SLIDESHOW */

/*middle-section*/
#middle-section{
	background: #e8ebf1;
	padding: 35px 0;
}

.glyphicon-chevron-right {
	color: #000;
	size: 80%;
}

.title-icon > span{
	margin-left: 20px;
	font-size: .7em;
	font-weight: bold;
}

#middle-section a {
	color: #2aacc8;
}



/*middle-section*/

/*LATEST WORK*/
.img-responsive{
	width:100%;
	height:auto;
}

.link-preview {
	background: #2aacc8;
	position: absolute;
	height: 0%;
	width: 100%;
	bottom: 0;
	text-align: center;
	padding: 10%;
	opacity: 0;
}

.link-mask {
	position: relative;
}

.mask-hover {
	padding: 20px;
}

.mask-hover:hover .link-preview{
	opacity: 1;
	transition: all 0.5s;
	height: 50%;
}
/*END LATEST WORK*/

/* TESTIMONIALS CLIENTS*/

#testimonials-clients p > span {
	font-style: italic;
	font-weight: bold;
}

#logo-list {
	background: #fff;
}

.logo-box {
	width: 160px;
	height: 101px;
}

#logo-list {
	padding: auto;
}

/* ENDTESTIMONIALS CLIENTS*/

/* DOWNLOAD PSD*/
.box-download {
	background: #e8fcfe;
	border: 1px solid #81e4ed;
	padding: 30px;
}

.download-psd button{
	background: #2aacc8;
	text-align: center;
	padding-top: 0;
	padding-bottom: 0;
}
.download-psd button > p {
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	color: black;
	margin: 20px;
}

.download-psd button > p > img {
	margin-right: 20px;
}
/* END DOWNLOAD PSD*/